/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: calc(100% - 211px);
    position: fixed;
    z-index: 999;
    top: 0;
    background: #fff;
    min-height: 64px;
  }
  
  .dashboard-name {
    color: #008F8F;
    font-size: 2.5rem;
    font-weight: bold; 
    text-transform: capitalize;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .user-name {
    color: #000; 
    margin-bottom: 0.5rem; 
    font-weight: bold;
    font-size: 15px;

  }
  
  .user-role {
    color: #000; 
    font-size: 13px;

  }
  